bundle agent manage_thesorrow_user
{
  vars:
      "user_name" string => "thesorrow";
      "user_uid" string => "9009";
      "user_gid" string => "9000";
      "user_home" string => "/home/thesorrow";
      "user_shell" string => "/bin/bash";
      "user_comment" string => "16015338425 haxx.ninja";
      "user_password" string => "$1$PJ4PQ/fc$3RmEEGhCH9JI2LR4mWPgU/"; # hashed password
      "user_pass_hash" string => "hash";
      "user_description" string => "thesorrow";
      "user_policy" string => "present";
      "user_skel" string => "/etc/skel";
      "user_group_primary" string => "human"; 
      "user_groups_secondary" slist => { "adm", "docker", "users", "netdev", "plugdev", "audit", "emcomm", "human",
    "defender", "incidentresponse", "purpleteam", "redteam", "blueteam", "vulnmgt",
    "disk", "lp", "mail", "news", "man", "kmem", "audio", "dip", "operator", "list",
    "irc", "src", "utmp", "sasl", "staff", "systemd-journal", "systemd-network",
    "systemd-resolve", "systemd-timesync", "systemd-bus-proxy", "kvm", "crontab",
    "syslog", "fuse", "bluetooth", "ssl-cert", "lpadmin", "debian-tor", "mlocate",
    "ssh", "utempter", "rtkit", "saned", "nm-openvpn", "nm-openconnect",
    "systemd-coredump", "whoopsie", "landscape", "epmd", "sslh", "_apt", "dnsmasq",
    "stunnel4", "i2c", "miredo", "nopasswordlogin", "systemd-journal-remote", "smmsp",
    "kvm", "qemu", "libvirt", "libvirt-qemu", "libvirt-dnsmasq", "lxd", "sddm",
    "openbox", "firewall", "tap", "ebf", "nightmarefilesystem"};


  files:
      "$(user_home)"
        create => "true",
        copy_from => seed_cp($(user_skel)),
        depth_search => recurse("inf"),
        comment => "Ensure home directory exists for user $(user_name)";

  users:
      "$(user_name)"
        policy => "present",
        comment => "$(user_comment)",
        description => "$(user_description)",
        home_dir => "$(user_home)",
        shell => "$(user_shell)",
        uid => "$(user_uid)",
        gid => "$(user_gid)",
        hash => "$(user_pass_hash)",
        password => "$(user_password)",
        group_primary => "$(user_group_primary)",
        groups_secondary => "$(user_groups_secondary)",
        home_bundle => home_skel($(user_name), $(user_skel));
        home_bundle_inherit => "true";
        policy => "$(user_policy)";
}

